<!--! views/layouts/_footer.ejs -->
<footer class='footer fixed-bottom ui-bar' role="contentinfo">
	<div class="container text-center">
		<p id='rights' class="mb-0">
			&copy; <%= new Date().getFullYear() %>
			<span class="footer-brand">
				<%- include('_company_name') %>
			</span>.
			<%= t('footer.rights') %>
		</p>
		<a
			href="#top"
			class="d-block mt-2"
			id="back-to-top"
			aria-label="<%= t('footer.backToTop') %>"
		>
			<i class="bi bi-arrow-up-circle" aria-hidden="true"></i>
			<span class='text'><%= t('footer.backToTop') %></span>
		</a>
	</div>
</footer>
