<!--! views/layouts/_navLinks.ejs -->
<% if (navbar.length > 0) { %>
	<% navbar.forEach(nav => { %>
		<li class="nav-item">
			<a
            class="nav-link has-tooltip"
			<%= nav.id ? `id="${nav.id}"` : '' %>
			href="<%= nav.link %>"
			aria-label="<%= t(nav.label) %>"
			data-bs-title="<%= t(nav.label) %>"
			>
				<span class="nav-icon">
					<i class="bi <%= nav.icon %>"></i>
				</span>
				<span class="nav-text"><%= t(nav.label) %></span>
			</a>
		</li>
	<% }) %>
<% } %>
