<!--! views/layouts/_navUser.ejs -->
<% const keys = {
	profile: t('nav.profile'),
	social: t('nav.social'),
	signout: t('auth:signout.title')
}; %>

<li class="nav-item ">
	<a
	class="nav-link has-tooltip <%= currentRoute === '/profile' ? 'active' : '' %>"
	id="profile"
	href="/profile"
	aria-label="<%= keys.profile %>"
	data-bs-title="<%= keys.profile %>"
	>
		<span class="nav-icon">
			<i class="bi bi-person-circle" aria-hidden="true"></i>
		</span>
		<span class="nav-text"><%= keys.profile %></span>
	</a>
</li>

<li class="nav-item">
	<button
		type="button"
		class="nav-link has-tooltip border-0 bg-transparent"
		id="socialToggle"
		aria-label="<%= keys.social %>"
		aria-controls="socialPanel"
		aria-expanded="false"
		data-bs-title="<%= keys.social %>"
		data-bs-toggle="offcanvas"
		data-bs-target="#socialPanel"
	>
		<span class="nav-icon">
			<i class="bi bi-people-fill" aria-hidden="true"></i>
		</span>
		<span class="nav-text"><%= keys.social %></span>
	</button>
</li>

<li class="nav-item">
	<form action="/auth/signout" method="POST" class="d-inline">
		<%- include('../partials/_csrf') %>
			<button
			class="btn btn-link nav-link has-tooltip w-100"
			type="submit"
			aria-label="<%= keys.signout %>"
			data-bs-title="<%= keys.signout %>"
			>
				<span class="nav-icon">
					<i class="bi bi-box-arrow-right" aria-hidden="true"></i>
				</span>
				<span class="nav-text"><%= keys.signout %></span>
			</button>
	</form>
</li>
