<!--! views/layouts/main.ejs -->
<!DOCTYPE html>
<html
	lang="<%= currentLang %>"
	dir="<%= currentLang === 'ar' ? 'rtl' : 'ltr' %>"
>
	<%- include('_head') %>

	<body id="top">
		<%- include('_flash') %>

		<!-- Header -->
		<%- include('_navbar') %>

		<!-- Body (main contents) -->
		<main class="container"><%- body %></main>

		<!-- Footer (future partial) -->
		<%- include('_footer') %>

		<!-- Generic i18n strings for client-side scripts -->
		<%- include('_i18n') %>
	</body>
</html>
