<!--! views/layouts/main.ejs -->
<!DOCTYPE html>
<html
	lang="<%= currentLang %>"
	dir="<%= currentLang === 'ar' ? 'rtl' : 'ltr' %>"
>
	<%- include('_head') %>

	<body id="top">
		<div id="app-shell">
			<%- include('_flash') %>

			<!-- Header -->
			<%- include('_navbar') %>

			<!-- Body (main contents) -->
			<main class="container"><%- body %></main>

			<!-- Footer (future partial) -->
			<%- include('_footer') %>
		</div>
		<div id="screen-too-small" role="alert" aria-live="polite">
			<h1><%= t('tooSmall.title') %></h1>
			<p><%= t('tooSmall.description') %></p>
		</div>
		<% if (modal) { %>
			<%- include('_modalStates') %>
		<% } %>
		<!-- Generic i18n strings for client-side scripts -->
		<%- include('_i18n') %>
	</body>
</html>
