<!--! views/modals/auth/_complete_signup.ejs -->

<%
	const isLocal = modal === 'complete_signup_local';
	const action = isLocal ? 'complete-local-signup' : 'set-username';
%>

<div
	class="modal fade"
	id="completeSignUpModal"
	tabindex="-1"
	aria-labelledby="completeSignUpModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="completeSignUpModalLabel">
					<%= t('auth:signup.complete_title') %>
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>

			<form method="POST" action="/auth/<%= action %>">
				<div class="modal-body">

					<!-- Username -->
					<div class="mb-3">
						<label for="username" class="form-label">
							<%= t('common:username') %>
						</label>
						<input
							id="username"
							dir="ltr"
							type="text"
							class="form-control"
							name="username"
							required
						/>
					</div>

					<% if (isLocal) { %>
						<div class="mb-3">
							<label for="password" class="form-label">
								<%= t('auth:security.password') %>
							</label>
							<input
								id="password"
								dir="ltr"
								type="password"
								class="form-control"
								name="password"
								required
							/>
						</div>

						<div class="mb-3">
							<label for="confirmPassword" class="form-label">
								<%= t('auth:security.confirm_password') %>
							</label>
							<input
								id="confirmPassword"
								dir="ltr"
								type="password"
								class="form-control"
								name="confirmPassword"
								required
							/>
						</div>

						<input type="hidden" name="token" value="<%= verifyEmailToken %>" />
					<% } %>

				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-action w-100">
						<%= t('auth:signup.complete_button') %>
					</button>
				</div>
			</form>

		</div>
	</div>
</div>
