<!--! views/modals/auth/_complete_signup.ejs -->

<%
	const isLocal = modal === 'complete_signup_local';
	const action = isLocal ? 'complete-local-signup' : 'set-username';
%>

<div
	class="modal fade"
	id="completeSignUpModal"
	tabindex="-1"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	aria-labelledby="completeSignUpModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="completeSignUpModalLabel">
					<%= t('auth:signup.complete_title') %>
				</h5>
			</div>

			<form method="POST" action="/auth/<%= action %>">
				<%- include('../../partials/_csrf') %>
				<div class="modal-body">

					<!-- Username -->
					<div class="mb-3">
						<label for="username" class="form-label">
							<%= t('common:username') %>
						</label>
						<input
							id="username"
							dir="ltr"
							type="text"
							class="form-control"
							name="username"
							required
						/>
					</div>

					<!-- Avatar -->
					<div class="mb-3">
						<label for="avatarSeed" class="form-label">
							<%= t('common:avatar') %>
						</label>
						<%
							const avatarStyles = avatarStyleOptions || [];
							const selectedStyle = avatarStyles[0] || null;
							const selectedAvatar = selectedStyle?.options?.[0] || null;
						%>
						<input
							id="avatarSeed"
							type="hidden"
							name="avatarSeed"
							value="<%= selectedAvatar?.value || '' %>"
						/>
						<div class="complete-signup-avatar" data-active-style="<%= selectedStyle?.key || '' %>">
							<div class="complete-signup-avatar__summary">
								<div
									class="complete-signup-avatar__preview"
									style="--avatar-bg: <%= selectedAvatar?.background || '#f7c59f' %>"
								>
									<img
										id="completeSignupAvatarPreview"
										src="<%= selectedAvatar?.src || '' %>"
										alt=""
									/>
								</div>
								<div>
									<div class="complete-signup-avatar__label">
										<%= t('common:avatarStyle') %>
									</div>
									<div
										class="complete-signup-avatar__style-name"
										data-avatar-style-name
									>
										<%= selectedStyle?.label || '' %>
									</div>
								</div>
								<label
									class="complete-signup-avatar__color has-tooltip"
									data-bs-title="<%= t('common:avatarBackground') %>"
								>
									<input
										type="color"
										class="cursor-pointer"
										value="<%= selectedAvatar?.background || '#f7c59f' %>"
										data-avatar-background
										aria-label="<%= t('common:avatarBackground') %>"
									/>
								</label>
								<button
									type="button"
									class="has-tooltip btn btn-outline-secondary complete-signup-avatar__refresh"
									data-avatar-refresh
									data-bs-title="<%= t('common:refreshAvatars') %>"
								>
									<i class="bi bi-arrow-clockwise" aria-hidden="true"></i>
								</button>
							</div>
							<div class="complete-signup-avatar__picker">
								<div
									class="complete-signup-avatar__styles"
									aria-label="<%= t('common:avatarStyle') %>"
									dir="ltr"
								>
									<% avatarStyles.forEach((style, index) => { %>
										<button
											type="button"
											class="complete-signup-avatar__style <%= index === 0 ? 'is-active' : '' %>"
											data-avatar-style="<%= style.key %>"
											data-avatar-style-label="<%= style.label %>"
										>
											<span class="complete-signup-avatar__style-preview">
												<img src="<%= style.preview %>" alt="" />
											</span>
											<span><%= style.label %></span>
										</button>
									<% }) %>
								</div>
								<div class="complete-signup-avatar__options">
									<% avatarStyles.forEach((style, styleIndex) => { %>
										<div
											class="complete-signup-avatar__grid <%= styleIndex === 0 ? '' : 'd-none' %>"
											data-avatar-grid="<%= style.key %>"
										>
											<% style.options.forEach((avatar, avatarIndex) => { %>
												<button
													type="button"
													class="complete-signup-avatar__option <%= styleIndex === 0 && avatarIndex === 0 ? 'is-active' : '' %>"
													data-avatar-value="<%= avatar.value %>"
													data-avatar-src="<%= avatar.src %>"
												>
													<span>
														<img src="<%= avatar.src %>" alt="" />
													</span>
												</button>
											<% }) %>
										</div>
									<% }) %>
								</div>
							</div>
						</div>
					</div>

					<!-- Country -->
					<div class="mb-3">
						<label for="countryCodeDropdown" class="form-label">
							<%= t('common:country') %>
						</label>
						<input id="countryCode" type="hidden" name="countryCode" />
						<div class="dropdown complete-signup-country">
							<button
								id="countryCodeDropdown"
								type="button"
								class="form-select complete-signup-country__toggle text-start"
								data-bs-toggle="dropdown"
								data-bs-auto-close="true"
								aria-expanded="false"
							>
								<span class="complete-signup-country__selected">
									<%= t('common:selectCountry') %>
								</span>
							</button>
							<ul
								class="dropdown-menu complete-signup-country__menu w-100"
								aria-labelledby="countryCodeDropdown"
							>
								<li>
									<button
										type="button"
										class="dropdown-item complete-signup-country__option"
										data-country-code=""
										data-country-name="<%= t('common:selectCountry') %>"
									>
										<span class="complete-signup-country__placeholder">
											<%= t('common:selectCountry') %>
										</span>
									</button>
								</li>
								<% ;(countryOptions || []).forEach((country) => { %>
									<li>
										<button
											type="button"
											class="dropdown-item complete-signup-country__option"
											data-country-code="<%= country.code %>"
											data-country-name="<%= country.name %>"
										>
											<span
												class="fi fi-<%= country.code.toLowerCase() %> complete-signup-country__flag"
												aria-hidden="true"
											></span>
											<span><%= country.name %></span>
										</button>
									</li>
								<% }) %>
							</ul>
						</div>
					</div>

					<% if (isLocal) { %>
						<%- include('./_setPassword', {token}) %>
					<% } %>

				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-action w-100">
						<%= t('auth:signup.complete_button') %>
					</button>
				</div>
			</form>

		</div>
	</div>
</div>
