<!--! views/modals/profile/_password_modal.ejs -->

<div
	class="modal fade"
	id="profilePasswordModal"
	tabindex="-1"
	aria-labelledby="profilePasswordModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profilePasswordModalLabel">
					<%= account.hasPassword ? t('profile:password.change') : t('profile:password.add') %>
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="<%= t('common:close') %>"
				></button>
			</div>

			<form method="POST" action="/profile/password">
				<%- include('../../partials/_csrf') %>
				<div class="modal-body">
					<% if (account.hasPassword) { %>
						<div class="mb-3">
							<label for="profileCurrentPassword" class="form-label">
								<%= t('profile:password.current') %>
							</label>
							<input
								id="profileCurrentPassword"
								dir="ltr"
								type="password"
								class="form-control"
								name="currentPassword"
								autocomplete="current-password"
								required
							/>
						</div>
					<% } %>

					<div class="mb-3">
						<label for="profilePassword" class="form-label">
							<%= t('profile:password.new') %>
						</label>
						<input
							id="profilePassword"
							dir="ltr"
							type="password"
							class="form-control"
							name="password"
							autocomplete="new-password"
							required
						/>
					</div>

					<div>
						<label for="profileConfirmPassword" class="form-label">
							<%= t('profile:password.confirm') %>
						</label>
						<input
							id="profileConfirmPassword"
							dir="ltr"
							type="password"
							class="form-control"
							name="confirmPassword"
							autocomplete="new-password"
							required
						/>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
						<%= t('common:close') %>
					</button>
					<button type="submit" class="btn btn-action">
						<%= t('profile:password.save') %>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
