<!--! views/social/main.ejs -->
<div
	class="offcanvas <%= currentLang === 'ar' ? 'offcanvas-end' : 'offcanvas-start' %>"
	tabindex="-1"
	id="socialPanel"
	aria-labelledby="socialPanelLabel"
>
	<div class="offcanvas-header">
		<h2 class="offcanvas-title h5 mb-0" id="socialPanelLabel">
			<%= t('nav.social') %>
		</h2>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="offcanvas"
			aria-label="<%= t('common:close') %>"
		></button>
	</div>

	<div class="offcanvas-body">
		<%- include('_follow_request') %>

		<div class="accordion" id="socialAccordion">
			<%- include('./_followers') %>

			<%- include('./_followees') %>

			<%- include('./_blocked') %>
			<%- include('./_notifications') %>
		</div>
	</div>
</div>
