<!--! views/home/_about.ejs -->
<section id="about">
	<div class="container">
		<h2 class="text-center mb-5"><%= t('home:about.title') %></h2>

		<div class="row align-items-center g-4">
			<div class="col-12 col-lg-4 about-col-1 text-center">
				<img
					src="/images/home/maple-coder-about.png"
					alt="<%= t('home:about.image') %>"
					loading="lazy"
					decoding="async"
				/>
			</div>

			<div class="col-12 col-lg-8 about-col-2 about-background">
				<div class="about-intro">
					<% t('home:about.description').forEach((paragraph) => { %>
						<p><%= paragraph %></p>
					<% }) %>
				</div>

				<%
					const tabTitles = t('home:about.tabs.titles');
					const tabsOrder = ['experience', 'skills', 'education'];
				%>

				<div class="tab-titles" role="tablist" aria-label="<%= t('home:about.title') %>">
					<% tabsOrder.forEach((tab) => { %>
						<button
							type="button"
							id="tab-<%= tab %>"
							class="tab-links <%= tab === 'experience' ? 'active' : '' %>"
							data-tab="<%= tab %>"
							role="tab"
							aria-selected="<%= tab === 'experience' ? 'true' : 'false' %>"
							aria-controls="panel-<%= tab %>"
						>
							<%= tabTitles[tab] %>
						</button>
					<% }) %>
				</div>

				<% tabsOrder.forEach((tab) => { %>
					<% const contents = t('home:about.tabs.' + tab); %>

					<div
						id="panel-<%= tab %>"
						class="tab-contents <%= tab === 'experience' ? 'active-tab' : '' %>"
						role="tabpanel"
						aria-labelledby="tab-<%= tab %>"
						<%- tab === 'experience' ? '' : 'hidden' %>
					>
						<h3 class="visually-hidden"><%= tabTitles[tab] %></h3>

						<% if (tab === 'experience') { %>
							<ul class="about-list about-list-experience">
								<% contents.forEach((item) => { %>
									<li>
										<span><%= item.period %></span><br />
										<%- item.role_company %><br />

										<% if (item.location) { %>
											<p class="about-meta"><%= item.location %></p>
										<% } %>

										<% if (item.website) { %>
											<p>
												<a href="<%= item.website %>" target="_blank" rel="noopener noreferrer">
													<%= item.website %>
												</a>
											</p>
										<% } %>
									</li>
								<% }) %>
							</ul>

						<% } else if (tab === 'skills') { %>
							<ul class="about-list about-list-skills">
								<% contents.forEach((skill) => { %>
									<li>
										<span><%= skill.name %></span><br />
										<%= skill.description %>
									</li>
								<% }) %>
							</ul>

						<% } else if (tab === 'education') { %>
							<ul class="about-list about-list-education">
								<% contents.forEach((edu) => { %>
									<li>
										<span><%= edu.year %></span><br />
										<%= edu.title %><br />
										<p class="about-meta"><%= edu.institution %></p>
									</li>
								<% }) %>
							</ul>
						<% } %>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</section>
